{% extends "base.html"%}

{% block titulo %}
    New trade
{% endblock %}

{% block contenido %}
    <h1>New Trade</h1>

    <form action="/alta" method="post">
        {{ formulario.hidden_tag() }}
        <div class="fecha_hora">
            Fecha:
            {{ formulario.fecha}}
        </div>
        <div class="fecha_hora">
            Hora:
            {{ formulario.hora}}
        </div>
        {% if formulario.hora.errors %}
        {% for error in formulario.hora.errors %}
        <p class="error">{{ error }}</p>
        {% endfor %}
        {% endif %}
        <div class="grid">
            {{ formulario.origen.label()}}
            {{ formulario.origen }}
        </div>
        <div class="grid">
            {{ formulario.Qfrom.label() }}
            {{ formulario.Qfrom(type="number", step="0.001") }}
        </div>
        {% if formulario.Qfrom.errors %}
            {% for error in formulario.Qfrom.errors %}
            <p class="error">{{ error }}</p>
            {% endfor %}
        {% endif %}

        <div class="grid">
            {{ formulario.destino.label() }}
            {{ formulario.destino }}
        </div>
        <div class="grid">
            {{ formulario.Qto.label() }}
            {{ formulario.Qto }}
        </div>
        <div> {{ resultado }}</div>
           {% if formulario.Qto.errors %}
            {% for error in formulario.Qto.errors %}
            <p class="error">{{ error }}</p>
            {% endfor %}
        {% endif %}
<!--        <input type="button" value="Calcular" class="button-calc" />-->
        <div class="grid">
            <a href="/calcular" role="button" >Calcular</a>
<!--            <img src="{{ url_for('static', filename='images/exchange.png') }}" class="imagen">-->
            <input class="aceptar" {{ formulario.aceptar() }}
            <a href="/" role="button">❌</a>
        </div>
    </form>
{% endblock %}
